.first {
    background-image: url('./assets/tajMahal.jpg');
}

.navbar {
    /* background: rgba(225, 225, 225, .1); */
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border-bottom: rgba(225, 225, 225, .2);
}